.about {
   position: relative;
   &__container {
      padding: 117 / 469 * (469 / 1600 * 100%) 25 / 1600 * 100% 134 / 469 * (469 / 1600 * 100%) 25 / 1600 * 100%;
      text-align: center;
      background-color: #f7f7f7;
   }

   &__icon {
      margin: 0px 0px 31px 0px;
   }

   &__title {
      max-width: 1079px;
      margin: 0px auto 26px auto;
      /* Style for "A NEW GENE" */
   }

   &__description {
      max-width: 1079px;
      margin: 0 auto;
      /* Style for "Lorem Ipsu" */
      color: #848789;
      font-size: 18px;
      font-weight: 400;
      line-height: 34px;
   }
}

.title {
   color: #353738;
   font-size: 18px;
   font-weight: 700;
   line-height: 24px;
   text-transform: uppercase;
   letter-spacing: 3.6px;
}
.container {
}
