.work {
   &__container {
   }

   &__content {
   }

   &__bike {
      display: flex;
      max-height: 600px;
      // block Большая картинка
      &_large {
         position: relative;
         flex: 1 1 1067 / 1600 * 100%;
      }
      // block Маленькаяя картнка
      &_small {
         position: relative;
         display: flex;
         flex-direction: column;
         justify-content: space-between;
         flex: 0 1 533 / 1600 * 100%;
      }
   }
}
// block Большая картинка
.large {
   &__image {
      width: 100%;
      background-color: #282f35;
   }
   // Логотип
   &__logo {
      position: absolute;
      top: 50%;
      left: 50%;
      max-width: 113 / 1067 * 100%;
      transform: translate(-50%, -50%);
      -webkit-transform: translate(-50%, -50%);
      -moz-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      -o-transform: translate(-50%, -50%);
   }
}
// block Маленькаяя картнка
.small {
   // Block с информацией
   &__info {
      flex: 0 1 100%;
      padding: 70 / 400 * (400 / 533 * 100%) 68 / 533 * 100% 0% 68 / 533 * 100%;
      background-color: #ffffff;
   }
   // Задний фон картинка
   &__bg {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 1;
   }
   // контейнер с информацией
   &__item {
      position: relative;
      text-align: center;
      z-index: 2;
   }
   // Иконка
   &__icon {
      margin: 0px 0px 28px 0px;
   }
   // Заглавие
   &__title {
      margin: 0px 0px 16px 0px;
   }
   // Какойто текст
   &__description {
      color: #848789;
      font-size: 16px;
      line-height: 30px;
      text-align: justify;
   }
   &__img {
      & img {
         width: 100%;
      }
   }
}
